.btn-success{
    background-color: #d2b204 !important;
}
.new-color{
    color: #d2b204 !important;
    
}

.back-color_new{
    background-color: #d2b204;
    border: none !important;
}

.btn-primary{
    background-color: #d2b204 !important; 
    border: none !important;
}