<div class="container-fluid bg-white p-0">
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="row g-3">
            <div class="col-6 text-start">
              <img
                class="img-fluid rounded w-100 wow zoomIn"
                data-wow-delay="0.1s"
                src="../assets/images/a1.jpeg"
              />
            </div>
            <div class="col-6 text-start">
              <img
                class="img-fluid rounded w-75 wow zoomIn"
                data-wow-delay="0.3s"
                src="../assets/images/a2.jpg"
                style="margin-top: 25%"
              />
            </div>
            <div class="col-6 text-end">
              <img
                class="img-fluid rounded w-75 wow zoomIn"
                data-wow-delay="0.5s"
                src="../assets/images/a3.jpeg"
              />
            </div>
            <div class="col-6 text-end">
              <img
                class="img-fluid rounded w-100 wow zoomIn"
                data-wow-delay="0.7s"
                src="../assets/images/a4.jpeg"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h5
            class="section-title ff-secondary text-start text-primary fw-normal new-color"
          >
            About Us
          </h5>
          <h1 class="mb-4">
            Welcome to <i class="fa fa-utensils text-primary me-2 new-color"></i>Food Munch
          </h1>
          <p class="mb-4">
            When we say good, we don’t just mean good food. We also mean the goodness that good food leads to. Good memories, a good temper, a good day, a good burp. And we know that when our food leaves our kitchens, we’re creating all that. It’s rewarding, this belief in good. Now take a look at how we go about it.
          </p>
          <p class="mb-4">
            Our menu changes daily because we don’t believe in boring you. We also like to keep you guessing. Cliff-hangers, that’s what we believe in. But here’s a spoiler. The menu changes, the goodness doesn’t.
          </p>
          <div class="row g-4 mb-4">
            <div class="col-sm-6">
              <div
                class="d-flex align-items-center border-start border-5 border-danger px-3"
              >
                <h1
                  class="flex-shrink-0 display-5 text-primary mb-0 new-color"
                  data-toggle="counter-up"
                >
                  15
                </h1>
                <div class="ps-4">
                  <p class="mb-0">Years of</p>
                  <h6 class="text-uppercase mb-0">Experience</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div
                class="d-flex align-items-center border-start border-5 border-danger px-3"
              >
                <h1
                  class="flex-shrink-0 display-5 text-primary mb-0 new-color"
                  data-toggle="counter-up"
                >
                Top 10
                </h1>
                <div class="ps-4">
                  <p class="mb-0">Popular</p>
                  <h6 class="text-uppercase mb-0">Restaurant</h6>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary py-3 px-5 mt-2 back-color_new" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-3">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5
          class="section-title ff-secondary text-center text-primary fw-normal new-color"
        >
          Team Members
        </h5>
        <h1 class="mb-5">Our Master Chefs</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item text-center rounded overflow-hidden">
            <div class="rounded-circle overflow-hidden m-4">
              <img class="img-fluid" src="../assets/images/sanjeevkapoor.jpeg" alt="" />
            </div>
            <h5 class="mb-0">Sanjeev Kapoor</h5>
            <small>Indian Chef and Entrepreneur</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item text-center rounded overflow-hidden">
            <div class="rounded-circle overflow-hidden m-4">
              <img class="img-fluid" src="../assets/images/vikaskhanna.jpeg" alt="" />
            </div>
            <h5 class="mb-0">Vikas Khanna</h5>
            <small>Indian Celebrity Chef</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item text-center rounded overflow-hidden">
            <div class="rounded-circle overflow-hidden m-4">
              <img class="img-fluid" src="../assets/images/Ripudaman.jpeg" alt="" />
            </div>
            <h5 class="mb-0">Ripudaman Handa</h5>
            <small>Winner of MasterChef India season 3</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item text-center rounded overflow-hidden">
            <div class="rounded-circle overflow-hidden m-4">
              <img class="img-fluid" src="../assets/images/Shipra.jpeg" alt="" />
            </div>
            <h5 class="mb-0">Shipra Khanna</h5>
            <small>Winner of MasterChef India season 2</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square btn-primary mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
