/* CSS */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.material-icons {
  vertical-align: middle;
  color: #ffffff !important;
}

.icon-text {
  font-size: larger;
  margin: 0 5px;
  color: #ffffff !important;
}

.active-link {
  background-color: 
  #d2b204 !important;
  border-radius: 10px;
}

.navbar-brand{
  padding: 0px 0px 5px 35px;
}